<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>COMP 4910</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

  <h1 class="head">FRASER HEALTH DATA VISUALIZATION TOOL</h1>

  <!-- ALL INPUT FUNCTIONS SHOULD UPDATE CHART, GET VALUE FUNCTIONS ARE TEMPORARY -->

  <div class="content container m-auto">
    <div class="form">
      <form action="/" method="post">
        <input type="text" name="topic" id="topic-input" placeholder="Enter a topic">
      </form>
    </div>

    <div class="viz">
      <canvas id="chart_elem"></canvas>
      <select class="sel1" onchange="" id="location-select">
        <option value="" selected>Select All (Location)</option>
        <option value="bc">British Columbia</option>
        <option value="fh">Fraser Health</option>
        <option value="ca">Canada</option>
      </select>
      <select class="sel1" onchange="" id="year-select">
        <option value="" selected>Select All (Since Year)</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
      </select>
      <button class="btn1" onclick="updateChart()">Update Chart</button>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>


  <script src="scripts/index.js"></script>
</body>

</html>